<html lang="en">    
<head>
    <style>
        body {
          background-color:DodgerBlue;
        
        }
        
        h1 {
          color: white;
          margin-left: 40px;
          margin-top:25px;
        }
        p.ex1{color: white;
            margin-left: 40px;
            margin:35px;
            margin-top:45px;
        }
        h2{
            color: white;
            margin-left: 40px;
            
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel_ADV</title>
</head>
<body>
    <center>
        <h1> Welcome to Excel Advertising </h1>
        <p class="ex1">Welcome to EXCEL ADVERTISING
            We would you like to take this opportunity to introduce ourselves as one of the leading outdoor advertising Agency in & around Thane. This company has been established in the year 1992 in Mumbai and it has been 27 Years that we are into field of Outdoor Advertising. 
            Initially doing business with Central and Western Railway by providing services to various clients through railway media and other OOH Jobs by way of canvassing client’s products and gradually we shifted towards Thane.</p>
            
            
        <p class="ex1">Now since past 15+ years in Thane our company has successfully completed tenders for Bus Shelters in Thane City, Gantries, kiosks, Adpoles in Thane City, Thane Railway Station Platform boards, Mira-Bhayander (MBMT) Buses, Solapur (SMT) Buses, Khandeshwar Railway Station, Lonavala Railway Station.</p>
        
        <h2><a href="reg">Send Your Enquiry Here</a></h2>
        
        
        <h4><a href="https://exceladvertising.in/">For More Information https://exceladvertising.in/</a></h4>
        

    </center>
    
</body>
</html>